@media screen and (max-width:1080px) {
  .homepage p{
    font-size: 1rem;
  }

  .qua-box{
    margin: 50px 0;
  }

  .qualitypage{
    position: static;
    border-radius: 0;
    padding: 5% 15%;
  }

  .qua-box {
    padding: 0;
  }

  .testipage{
    position: static;
    border-radius: 0;
    padding: 5% 10%;
  }

  .testi-box {
    padding: 0;
    text-align: center;
  }

  .testi-text{
    padding:0 10%;
    font-size: 1rem;
    text-align: center;
  }
}
