html, body{
  font-family: 'Montserrat', serif;
  background-color: #f8f4e1;
  overflow-x: hidden;


}

h1{
  font-family: 'Noto Serif JP', serif;
  color: black;
}

h2 {
  font-size: 1.5rem;
}

p {
  color: grey;
  font-size: 1rem;
}

hr {
    margin: 0 auto;
    margin-top: .5rem;
    margin-bottom: 1.5rem;
    width: 20%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

#home {
  padding-top: 0;
  background-image:url(../img/bg-1.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}




#main-navbar {
  background: none;
  padding:0;
  text-align: center;
  margin-top:0;
}
/* #e7e7de */
.navbar-brand {
  height: 3rem;
}

.nav-link {
  font-size: 1.5rem;
  margin-left: 5px;
  margin-right: 5px;
}

.homepage {
  text-align: center;
  padding: 7% 15% 20% 15%;
}

.home-btn {
  margin-top: 5px;
  color: #705737;
  border-color: #705737;
}

.home-btn:hover{
  color: white;
  background-color: #705737;
  border-color: #705737;
}

.heading-box {
  background-color: transparent;
  padding-top: 7rem;
  padding-bottom: 7rem;

}

.heading {
  width: 30%;
  margin-bottom: 30px;
}

.heading-box p{
  font-family: "Noto Serif JP", serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: #705737;


}

.aboutpage {
  padding: 5% 10% 8% 10%;
  text-align: left;

}

.aboutpage h1{
  text-align: center;
  margin-bottom: .5rem;
  font-size: 2.5rem;
}

.qualitypage {
  padding: 5% 15% 5% 15%;
  text-align: center;
  background-color: #e7e7de;
  border-style: solid;
  border-color: transparent;
  border-top-left-radius: 120px;
  border-bottom-left-radius: 120px;
}

.qua-box {
  padding-left:5%;
  padding-right: 5%;
}

.fa-check,.fa-receipt {
  color: #5eaaa8;
}

.caption {
  margin-top: 10px;
  font-size: 1.5rem;
}

#menu {
  text-align: center;
}

.menupage {
  text-align: center;
  padding: 5% 10% 8% 10%;
}

.menu-heading {
  padding: 0 10%;
}

#product-slider {
  width: 100%;
  height: 40vh;
  overflow: hidden;
  text-align: left;
}

#product-slider .slider {
  height: 100%;
  width: 1000vw;
}

#product-slider .slider img {
  border-radius: 1.5vh;
  height: 100%;
  width: 25rem;
  display: inline-block;
  margin-right: 2vh
}

.menu-tab {
  text-align: center;
  margin-top: 30px;
}

.tab-btn {
  font-size: 1.5rem;
}

.menu-wrapper {
  padding-top: 5%;
}

.menu-box {
  width: 80%;
  background-color: white;
  border-style: solid;
  border-color: transparent;
  border-radius: 20px;
  box-shadow: 0px 5px 20px rgb(0 0 0 / 15%);
  cursor: pointer;
  transition: 0.4s;
  text-align: center;
}

.menu-box:hover {
  background-color: #f7f7f7;

}



.menu-title {
  padding: 0 2%;
  text-align: left;

}

.menu-name {
  padding-top: 5%;
  margin-bottom: 20px;
  font-size: 2.5rem;
}

.menu-price {
  font-size: 1.5rem;
  text-align: right;
  margin-top: 10px;
}

.menu-img {
  padding: 10% 0;
  height: 15rem;
  width: 12.5rem;
  border-style: solid;
  border-color: transparent;
  border-radius: 100%;




}

.testipage {
  padding: 5% 15% 5% 15%;
  text-align: left;
  background-color: #e7e7de;
  border-style: solid;
  border-color: transparent;
  border-top-right-radius: 120px;
  border-bottom-right-radius: 120px;
}

.testi-box {
  padding-left: 10%;
}

.testi-text {
  padding-right: 10%;
  margin-bottom: 20px;
}

.ctapage {
  padding: 5% 15%;
  text-align: center;
}

.cta-btn {
  margin-top: 5px;
  color: white;
  background-color: #705737;
  transition: 0.5s;
}

.cta-btn:hover {
  background-color: transparent;
  border-color: #705737;
  color: #705737;
}

.cta-box {
  width: 100%;
  background-color: white;
  border-style: solid;
  border-color: transparent;
  border-radius: 80px;
  box-shadow: 0px 5px 20px rgb(0 0 0 / 15%);
  cursor: pointer;
  transition: 0.4s;
}

.cta-box:hover {
  background-color: #f7f7f7;
}

#footer {
  background-color: #705737;
  padding:1% 15% 1%;
  text-align: center;
}

#footer p{
  margin-bottom: 0;
  color: white;
  font-size: 1rem;

}

.footer-btn {
  border-style: none;
}



.social-icon {
  margin-bottom:30px;
}

.social-icon i{
  margin: 0 10px;
  color: white;
  transition: 0.4s;
  font-size: 2rem;
}

.wa-logo:hover {
  color: green;
}

.ig-logo:hover {
  color: purple;
}
